
@{
    ViewBag.Title = "Home";
}

    <h1>Welocome To Pavols Sweet Store</h1>
    <div class="row">
        <div class="col-sm-4">
               <div class="list-group" >
                   <a asp-controller="Product" asp-action="List" class="list-group">View our Proucts</a>
                   <a asp-controller="Home" asp-action="About" class="list-group">About us</a>

               </div>
            </div>
    </div>



     